<div class="text-center bg-primary post-card   ">
  <h2 class="bg info card-title">{{name}}</h2>
  <h3 class="card-desc bg-info">{{description}}</h3>
  <p class="card-author text-light">Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
  
 
  </p>
 
</div>
